.byebye__title {
    width: 7.5em;
    margin: 0 auto 32px auto;
    font-family: 'Inter', Arial, sans-serif, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .byebye__title {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 545px) {
    .byebye__title {
        font-size: 32px;
        line-height: 35px;
    }
}