.byebye__title {
    width: 100%;
    margin: 0;
    font-family: 'Inter', Arial;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .byebye__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
    }
}