.nav__copyright {
    display: flex;
    justify-content: end;
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
}

@media screen and (max-width: 425px) {
    .nav__copyright {
        justify-content: start;
    }
}