.byebye__subtitle {
    position: relative;
    width: 20em;
    margin: 0 auto 0 auto;
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 545px) {
    .byebye__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 14em;
    }
}