.byebye__subtitle {
    width: 65%;
    margin: 32px auto 0 auto;
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 1;
    align-items: flex-end;
    grid-column: 2/3;
    grid-row: 3/4;
}

@media screen and (max-width: 1024px) {
    .byebye__subtitle {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .byebye__subtitle {
        width: 65%;
    }
}

@media screen and (max-width: 425px) {
    .byebye__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
        width: 100%;
    }
}